{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap reboot (для сброса стилей) -->
    <link rel="stylesheet" href="{% static 'portfolio/css/bootstrap-reboot.min.css' %}">
    <!-- Bootstrap сетка -->
    <link rel="stylesheet" href="{% static 'portfolio/css/bootstrap-grid.min.css' %}">

    <!-- Шрифты с Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600;800&display=swap" rel="stylesheet">
    <!-- Стили сайта -->
    <link rel="stylesheet" href="{% static 'portfolio/css/custom.css' %}">

    <link rel="icon" type="image/png" href="{% static 'portfolio/img/icon-icx-logo.png' %}">
   <title>{% block Title %} {% endblock %}</title>


</head>

<body>

{% include 'includes/navbar.html' %}
<div class="container">
    {% block content %} {% endblock %}
</div>
</body>
</html>