{% load static %}



<nav class="navbar">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand">STamkovich</a>
        <div class="navbar-wrap">
            <ul class="navbar-menu">
                <li>
                    <a href="{% url 'home' %}">Главная</a>
                </li>
                <li>
                    <a href="{% static "portfolio/css/Sergey_Tamkovich .pdf"%}" target="_blank" >CV</a>
                </li>
                <li>
                    <a href="https://vk.com/stfrukt" target="_blank">VKontakte </a>
                </li>
                <li>
                    <a href="https://t.me/savage1072" target="_blank"> Telegram </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/feed/?doFeedRefresh=true&nis=true" target="_blank">Linkeding</a>
                </li>
                <li>
                    <a href="https://github.com/STamkovich" target="_blank">GitHub</a>
                </li>
            </ul>
            <a href="{% url 'blog:all_blogs' %}" class="blog-link"> BLOG</a>
        </div>
    </div>
</nav>
